#!/bin/bash

{{ template "utils" }}

info "Running run_once_after-install-asdf.sh once..."

# Install asdf
# https://asdf-vm.com/guide/getting-started.html
# nodejs
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf install nodejs latest
asdf global nodejs latest
# golang
asdf plugin add golang https://github.com/kennyp/asdf-golang.git
asdf install golang latest
asdf global golang latest
# python
asdf plugin add python
asdf install python latest
asdf global python latest
# direnv
asdf plugin-add direnv
asdf direnv setup --shell zsh --version latest
asdf global direnv latest
