OCO_OPENAI_API_KEY={{if and (eq .osid "darwin") .personal}}{{ onepasswordRead "op://personal/OpenAI API Key/api key" }}{{ end }}
OCO_OPENAI_MAX_TOKENS=undefined
OCO_OPENAI_BASE_PATH=undefined
OCO_DESCRIPTION=true
OCO_EMOJI=undefined
OCO_MODEL=gpt-4
OCO_LANGUAGE=en
OCO_MESSAGE_TEMPLATE_PLACEHOLDER=$msg
OCO_PROMPT_MODULE=conventional-commit
