
############################ Begin .aliases_git ############################
alias ga="git add"
alias gap="git add --patch"
alias gdb="gdb -q"
alias gb="git branch"
alias gbc="git checkout -b"
alias gba="git branch -a"
alias gca="git commit -a"
alias gcm="git commit -m"
alias gco="git checkout"
alias gca="git commit -av"
alias gd="git diff "
alias gu="git pull"
alias gl="git log --all --graph --pretty=format:'%C(magenta)%h %C(white) %an  %ar%C(auto) . %D%n%s%n'"
alias gp="git push"
alias gst="git status -uno"
alias gsi="git status --ignored"
alias gtree="git log --graph --pretty=oneline --abbrev-commit"
alias gup="git checkout main && git fetch --all && git reset --hard upstream/main"
alias gf="git-fuzzy"
{{ if lookPath "oco" }}alias gc="oco"{{ else }}alias gc="git commit -v"
{{ end }}
