
############################ Begin .aliases_macos ############################

alias checkdns="/usr/sbin/scutil --dns | grep 'nameserver\[[0-9]*\]'"
alias cz="/opt/homebrew/bin/chezmoi"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias mosh="/opt/homebrew/bin/mosh $1 --server /home/linuxbrew/.linuxbrew/bin/mosh-server"
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias zz="z -"
