{
    "sync.gist": {{ if eq .osid "darwin" }}"{{ onepasswordRead "op://personal/github.com/vscode_gist_sync" }}"{{ end }},
    "git.autofetch": true,
    "sync.autoUpload": false,
    "sync.forceUpload": true,
    "sync.autoDownload": false,
    "sync.removeExtensions": false
}